Eval/InputLexer.o
Eval/InputLexer.hi
Eval/InputParser.hi
Eval/FinalEvalTest.o
Eval/FinalEvalTest.hi
Eval/FinalEval.hi
Eval/FinalEval.o
Eval/InputParser.o
TestingInputs/problem1.csv
TestingInputs/t.csv
test.neo4j
LangParser.hs
LangLexer.hs
InputParser.o
InputParser.hs
InputParser.hi
InputLexer.o
InputLexer.hs
InputLexer.hi
Eval3.o
Eval3.hi
